*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(78,160,255,255);
    height: 200px;
    background-image: url(../img/pattern.png);
}

#logo{
    height: 100px;
    margin-top: 70px;
    padding: 10px;
}

main{
    margin: 10px;
}

h1{
    font-size: 70px;
    margin-bottom: 1px ;
}

.pubblicazione{
    color: gray;
    font-size: 30px;
}

#autore{
    color: rgba(78,160,255,255);
}

.data{
    color: gray;
    font-size: 20px;
}

section{
    margin: 30px 0;
}

table{
    border-spacing: 0;
}

thead{
    background-color: rgba(32,169,229,255);
    color: white;
}
#table-row1, #table-row3{
    background-color: rgba(177,229,242,255);
}

#special{
    width: 50%;
}
